/* GLOBAL STYLEcolS
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: Audiowide;
}

.logo-navbar{
  margin:0 20px 0 10px;
}

.navbar-brand{
  font-family: Audiowide;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.row{
  margin-top: 70px;
}

.website-title{
  padding-top: 30px;
  font-family: Audiowide;
  font-size: large;
  text-align: center;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.logo-wifi{
  display: inline-block;
  border-radius: 200px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 0 0 0 0;
  perspective: 1000px;
}

.logo-cam{
  display: inline-block;
  border-radius: 200px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 0 0 0 0;
  perspective: 1000px;
}

.logo-sec{
  display: inline-block;
  border-radius: 200px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 0 0 0 0;
  perspective: 1000px;
}

.logo-inner-wifi {
  position: relative;
  border-radius: 200px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.logo-inner-cam {
  position: relative;
  border-radius: 200px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.logo-inner-sec {
  position: relative;
  border-radius: 200px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.logo-wifi:hover .logo-inner-wifi {
  transform: rotateY(180deg);
}

.logo-cam:hover .logo-inner-cam {
  transform: rotateY(180deg);
}

.logo-sec:hover .logo-inner-sec {
  transform: rotateY(180deg);
}

.logo-front-wifi, .logo-back-wifi {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.logo-front-cam, .logo-back-cam{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.logo-front-sec, .logo-back-sec {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 25px;
}

.logo-back-wifi {
  border-radius: 200px;
  background-color: #d5e8eb;
  color: white;
  transform: rotateY(180deg);
}

.logo-back-cam {
  border-radius: 200px;
  background-color: #d5e8eb;
  color: white;
  transform: rotateY(180deg);
}

.logo-back-sec {
  border-radius: 200px;
  background-color: #d5e8eb;
  color: white;
  transform: rotateY(180deg);
}

.wifi-img{
  border-radius: 200px;
  width: 300px;
  height: 300px;
}

.cam-img{
  border-radius: 200px;
  width: 300px;
  height: 300px;
}

.sec-img{
  border-radius: 200px;
  width: 300px;
  height: 300px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.sec-listItem{
  font-size: 23px;
}

.net-listItem{
  font-size: 23px;
}

.cam-listItem{
  position: relative;
  font-size: 23px;
}

.cam-info{
  position: relative;
  display: inline-block;
}

.cam-info .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #76b7b1;;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 20px 0 0;
  font-size: 18px;
  font-style: italic;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.cam-info:hover .tooltiptext {
  visibility: visible;
}

.cam-info .tooltiptextLeft {
  visibility: hidden;
  width: auto;
  background-color: #76b7b1;;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 20px 0 0;
  font-size: 18px;
  font-style: italic;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -500%;
  margin-left: -60px;
}

.cam-info:hover .tooltiptextLeft {
  visibility: visible;
}

.contacts{
  text-align: center;
  font-size: 18px;
}

#camInfo {
  width: 100%;
  padding: 20px;
  background-color: #d5e8eb;
  margin-top: 20px;
  border-radius: 20px;
  display: none;
}

.camButton{
  margin-top: 20px;
  border: none;
  background-color: white;
}


#netInfo {
  width: 100%;
  padding: 50px 0;
  background-color: #d5e8eb;
  margin-top: 70px;
  border-radius: 20px;
  display: none;
}

.netButton{
  float: right;
  margin-top: 20px;
  border: none;
  background-color: white;
}

#secInfo {
  width: 100%;
  padding: 20px;
  background-color: #d5e8eb;
  margin-top: 20px;
  border-radius: 20px;
  display: none;
}

.secButton{
  margin-top: 20px;
  border: none;
  background-color: white;
}

/* CONTACTS CSS
-------------------------------------------------- */
.partners{
  text-align: center;
}
.partner-logos{
  border-radius: 6px;
  text-align: center;
}

.mapImage {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

/* PRICES CSS
-------------------------------------------------- */

/*
@keyframes strike {
  from { text-decoration-color: transparent; }
  to { text-decoration-color: red; }
}
.strike {
  text-decoration: line-through;
  text-decoration-color: red;
  animation: strike 3s linear;
}
*/

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

/* Animations */
[data-aos=example-anim1] {
  transform: skewX(45deg);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=example-anim1].aos-animate {
  transform: skewX(0);
  opacity: 1;
}

[data-aos=example-anim2] {
  background: red;
  transition-property: background;
}
[data-aos=example-anim2].aos-animate {
  background: green;
}

[data-aos=example-anim3] {
  transform: rotate(360deg);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=example-anim3].aos-animate {
  transform: rotate(0);
  opacity: 1;
}

.strike { position:relative; }
.strike::after {
  content:' ';
  position:absolute;
  top:50%; left:-3%;
  width:0; height:10px;
  opacity:60%;
  transform:translateY(-50%);
  background:repeat-x url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAKAQMAAAByjsdvAAAABlBMVEUAAADdMzNrjRuKAAAAAXRSTlMAQObYZgAAADdJREFUCNdj+MMABP8ZGCQY/h9g+MHw/AHzDwbGD+w/GBhq6h8wMNj/b2BgkP8HVMMPUsn+gQEAsTkQNRVnI4cAAAAASUVORK5CYII=);
  animation: strike 2s linear .3s 1 forwards;
}
@keyframes strike { to { width: 106%; } }

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
